body{
    line-height: 1.4em;
    color:black;
    font-family: "Gill Sans",GillSans,Calibri,"Trebuchet MS", sans-serif;
}

#mainBody{
    background:black;
    margin: 0px;
    overflow-x: hidden;
}

#background{
    position: absolute;
    width:100%;
    height:100%;
    margin-top: -32px;
    min-width:1000px;
    min-height: 800px;
    z-index: -9;
    background-color: black;
    background-position: right;
    background-repeat: no-repeat;
}

#title{
    margin: 0 auto;
    margin-top: 315px;
    margin-bottom: 112px;
    width: 1000px;
    color:white;
    text-shadow: 1px 1px 1px black;
    font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Times New Roman",serif;
}

#champHeader{
    padding: 30px 30px;
}

h1{
    font-size: 2.7em;
    margin: 5px 0 0 0;
    font-weight: normal;
}

h3{
    font-size: 1.7em;
    margin: 10px 0 0 0;
    line-height: 1em;
    font-weight: normal;
}

.contentHeader{
    position: relative;
    display: block;
    background: transparent url(media/frame-textures-sprite.jpg) no-repeat 50% 0;
    top: 0px;
    left: 0;
    height: 120px;
}

.contentHeader::before{
    content: "";
    width: 100%;
    height: 136px;
    position: absolute;
    margin-top: -28px;
    left: 0;
    background: transparent url(media/frame-sprite.png) no-repeat 50% 0px;
}

.contentHeaderLower{
    position: relative;
    display: block;
    background: transparent url(media/frame-textures-sprite.jpg) no-repeat 50% 0;
    top: 0px;
    left: 0;
    height: 120px;
}

.contentHeaderLower::before{
    content: "";
    width: 100%;
    height: 136px;
    position: absolute;
    margin-top: -20 px;
    left: 0;
    background: transparent url(media/frame-sprite.png) no-repeat 50% -150px;
}

.contentBody{
    background-image: url(media/frame-center.png);
    background-repeat: repeat-y;
    background-position: 50% 0;
    margin: 0 auto;
    padding-bottom: 20px;
}

.greyBorder{
    padding: 4px;
    background-color: rgba(0,0,0,0.2);
    border-left: 1px solid rgba(84,84,84,0.3);
    border-top: 1px solid rgba(84,84,84,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.6);
    border-right: 1px solid rgba(255,255,255,0.6);
}

.whiteStone{
    padding: 20px;
    box-sizing: border-box;
    background: #e9eaec;
    color: #333132;
    width: auto;
    position: relative;
}

#top{
    width:970px;
    margin: 0 auto;
    margin-top: -120px;
}

#topIntro{
    margin-top: 11px;
    margin-left: 15px;
    box-sizing: border-box;
    background: #e9eaec;
    color: #333132;
    width: auto;
    position: relative;
}

#champProfile{
    width:120px;
    height:120px;
}

#characterInfo{
    padding-left:23px;
    font-size: .95em;
    margin-bottom: 1px;
}

#characterInfo h3{
    margin: 0px;
}

#characterInfo p{
    margin-top: .5em;
    margin-bottom: 0px;
}

#characterInfo span{
        font-family: "Gill Sans",GillSans,Calibri,"Trebuchet MS", sans-serif;
}

#characterStats{
    margin-top:1px;
    padding-top: 5px;
    font-family: "Gill Sans",GillSans,Calibri,"Trebuchet MS", sans-serif;
}

.stat{
    display:block;
    padding-left:30px;
}

#statEmail{
    background: url(media/EmailIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statPhone{
    background: url(media/PhoneIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statHTML{
    background: url(media/HTMLIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statCSS{
    background: url(media/CSSIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statJS{
    background: url(media/JSIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statGPA{
    background: url(media/GPAIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statWP{
    background: url(media/WPIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statLeadership{
    background: url(media/LeadershipIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#statPS{
    background: url(media/PSIcon.jpg) no-repeat;
    background-size: 22px 22px;
}

#sideInfo{
    z-index: 1;
    padding-left: 2px;
    color: #333132;
}

#linkedinSpotlight{
    width:450px;
    height: 253px;
    z-index: 1;
    margin-top: 11px;
}

#linkedinSpotlight img{
    width:450px;
    height: 253px;
    z-index: 1;
}

#abilityImagesRow{
    padding-top: 10px;
}

.abilityLogo{
    width:64px;
    height: 64px;
}

.abilityImage{
    padding-right:18px;
}

#exploreButton{
    margin-top:5px;
}

#exploreButton a{
    width: 90%;
    color: #222;
    border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
    background: #d79922 url(media/lol-textures.jpg) no-repeat 50% -846px;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 20px 4px 20px;
    display: inline-block;
    text-align: center;
}

.sectionTitle{
    margin: 20px 15px 0px 15px;
}

.divider{
    background: black url(media/lol-textures.jpg) no-repeat 0 -6px;
    padding: 20px 20px 11px 20px;
    height: 27px;
    -webkit-box-shadow: 0 1px 2px #323232;
    -moz-box-shadow: 0 1px 2px #323232;
    box-shadow: 0 1px 2px #323232;
}

.divider h2{
    margin: 0px;
    color: #dfe1e1;
    font-size: 1.85em;
    font-weight: normal;
}

.skinPreview{
    display: inline-block;
    width:290px;
    height:171px;
    margin-top:20px;
    margin-left: 15px;
}

.skinPreview img{
    width:290px;
    height:auto;
}

.contentFooter{
    position: relative;
    display: block;
    content: "";
    z-index: 1;
    width: 100%;
    height: 136px;
    position: absolute;
    margin-top: -115px;
    left: 0;
    background: transparent url(media/frame-sprite.png) no-repeat 50% -278px;
}

.grid{
    display:flex;
}

.grid-cell{
    flex: 1;
}

.cell-1of2{
    width: 475px;
}

.cell-1of3{
    flex:.33.33%
}

.cell-2of3{
    flex:66.66%;
}

.grid--gutters{
    margin: -18px 0 0 -18px;
}

.grid--gutters > .grid-cell{
    margin: 18px 0 0 18px;
}

#contentIntro{
    width:100%;
}

#abilityBlock{
    margin-top:55px;
}

#bottom{
    width:970px;
    margin: 0 auto;
}

.abilityInfo{
    
}

.abilityScreenshot{
    width: 348px;
}